.card {
    width: 270px;
    padding: 1rem;
    background-color: rgba(0, 249, 12, 0.658);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
}
    
.card:hover {
    transform: scale(1.1);
}

.avatar {
    width: 125px;
    border-radius: 50%;
    
}

.title {
    margin: 10px 0 5px;
    font-size: 20px;
}